/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Begin styling */

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  background: url("../images/bg-mobile.png");
  display: grid;
  place-items: center;
  align-content: center;
}

main {
  width: 90%;
  margin: auto;
  display: grid;
  gap: 20px;
}

.icons-section,
.text-container {
  background-color: hsl(228, 56%, 26%);
  border-radius: 15px;
}

.icons-section {
  border-top-right-radius: 60%;
  padding: 50px;
}

.icon-array {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  vertical-align: middle;
}

.icon-array a {
  border-radius: 10px;
  padding: 10px;
  background-color: hsl(229, 57%, 11%);
  margin-right: 20px;
}

.text-container {
  padding: 40px;
}

.message {
  margin: 4px;
  text-align: center;
}

.message,
.zero,
.thousand {
  font-size: 0.9rem;
  color: hsl(243, 100%, 93%);
}

.message bold,
.zero,
.thousand {
  font-weight: 700;
}

.slider-container {
  width: 100%;
  height: 20px;
  padding: 13px;
  border-radius: 36px;
  background: hsl(229, 57%, 11%);
  display: grid;
  align-items: center;
  margin: 8px auto;
  position: relative;
}

.slider {
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 30px;
  width: 75%;
  height: 15px;
  border: none;
  margin-left: 5px;
  position: absolute;
  display: grid;
  align-items: center;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 36px;
  position: absolute;
  background-color: hsl(243, 100%, 93%);
  margin-left: 92%;
}

.range {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.gigs-remaining {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 15px;
  width: max-content;
  padding: 10px 20px;
  margin: auto;
  transform: translateY(-2rem);
}

.gigs-remaining p {
  margin-top: 0;
  color: hsl(229, 7%, 55%);
}

.gigs-remaining p span {
  color: black;
  font-weight: 700;
  font-size: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  color: hsl(6, 100%, 80%);
}

@media screen and (min-width: 600px) {
  body {
    background: url("../images/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(228, 56%, 26%);
  }

  main {
    width: 75%;
    grid-template-columns: 4;
  }

  .message {
    text-align: left;
  }

  .icons-section {
    grid-column: 1;
  }

  .text-section {
    grid-column: 2/4;
    transform: translateY(4rem);
  }

  .dot {
    margin-left: 96%;
  }

  .gigs-remaining {
    transform: translate(9rem, -13rem);
    position: relative;
  }

  .gigs-remaining::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 90%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top-color: hsl(0, 0%, 100%);
    border-bottom: 0;
    border-right: 0;
    margin-left: -15px;
    margin-bottom: -19px;
  }
}
